# APScheduler database
data/jobs.sqlite
data
!data/.gitkeep

# Log files
log

# Config
config.yml

# dev
**/__pycache__

# filesystem
.DS_Store

*.egg_info/
*.egg-info/
.coverage
.claude
config_backup.yml
